.avatar-circle{
	display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    font-weight: bold;
}

.direct-chat-text{
	width: 80%;
}
.right .direct-chat-text{
	margin-left: auto !important;
}